* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Open Sans";
	font-weight: 400;

}

nav {
	display: block;
	position: sticky;
	top: 0;
	background: white;
	height: 5em;
	width: 100%;
}

button {
	background-color: #336589;
	color: white;
}

.nav-logo {
	position: relative;
	display: inline-block;
	margin-left: 5%;
	margin-top: 5px;
}

#logo {
	height: 3.5em;
}

.right-nav {
	position: fixed;
	display: inline-block;
	height: 3.5em;
	padding-top: 1em;
	padding-left: 30%;
	padding-right: 5%;
}

.right-nav > li {
	display: inline;
	margin: 0 .5em;
}

.front-bg {
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
	z-index: 1;
}

#bg-image {
	background: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	background-position: center center;
}



.container {
	text-align: right;
	padding-right: 10%;
	padding-left: 50%;
	color: white;
	padding-bottom: 2em;
}

.title , .title-2 {
	font-family: "Zilla Slab";
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 1em;
}

.title {
		text-align: right;
}

.title-2 {
		text-align: center;
}
.subtitle {
	font-size: 1em;
	font-weight: 300;
	padding-top: 2em;
	padding-bottom: 1em;
}

.intro {
	padding-top: 2em;
	padding-bottom: 2em;

}

.intro-description {
	padding-left: 15%;
	padding-right: 15%;

}

.pre-footer {
	background-color: #f7fbfb;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

.prefooter-description {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 1em;
}

.book-button , .apply-button , .tuitt-button {
	width: 10rem;
	height: 3rem;
	border-radius: 20px;
}

.tuitt-button , .apply-button  {
	background-color: #c2195b;
}
footer {
	text-align: center;
}

footer > span {
	margin: 0 10px;
}